* {
    padding: 0;
    margin: 0;
}

.main-container {
    background-color: rgb(231, 208, 157);
}

.title {
    height: 70px;
    color: #fdf1d6;
    background-color: #3f0f0c;
    padding-top: 20px;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 'aside main';
}

.form {
    padding-top: 50px;
}

.search-input {
    margin-left: 20px;
    border: none;
    border-bottom: 1px solid #3f0f0c;
    cursor: pointer;
}

.search-button {
    width: 80px;
    height: 30px;
    border: none;
    background-color: #c39e5c;
    color: #ffffff;
}

.series-fav-title {
    margin-top: 40px;
    margin-left: 20px;
    font-family: 'Roboto Mono', monospace;
    color: #91091e;
}

.series-fav-container {
    grid-area: aside;
    border-right: 1px solid #3f0f0c;
}

.series-fav {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.series-container {
    grid-area: main;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.serie-card {
    list-style: none;
    margin: 10px;
    height: 350px;
    width: 270px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.seriefav-card {
    list-style: none;
    padding-bottom: 10px;
}

.serie-name {
    font-family: 'Roboto Mono', monospace;
}

.img {
    height: 250px;
    width: 200px;
    margin-bottom: 10px;
}

.normal {
    background-color: #da723c;
    color: #91091e;
}

.fav {
    color: #da723c;
    background-color: #91091e;
}